<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
  <%- include('partials/header') %>
  <main>
    <div class="wrapper">
      <ul id="rijksContainer">
        <% data.artObjects.map(function(item) { %>

        <li>
          <% console.log(item.webImage) %>
          <a href="/paintings/<%= item.objectNumber %>">
            <% console.log(data) %>
            <img class="lazy" src="<%= item.webImage.url %>" />
          </a>
        </li>
        <% }); %>
      </ul>
    </div>
  </main>

  <%- include('partials/footer') %>
  <%- include('partials/lazyload') %>
</body>

</html>