<html>
<%- include('partials/head') %>

<body>
  <%- include('partials/header') %>
  <h2>test</h2>
  <main>
    <div class="wrapper">
      <ul id="rijksContainer">
        <% data.artObjects.map(function(item) { %>

        <li>
          <% console.log(item.webImage) %>
          <a href="/paintings/<%= item.objectNumber %>">
            <img class="lazy" data-src="<%= item.webImage.url %>" />
          </a>
        </li>
        <% }); %>
      </ul>
    </div>
  </main>

  <% include ../partials/lazyload %>

  <%- include('partials/footer') %>
</body>

</html>